{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-12 box-shadow">
        <div class="card-header">
            <h4 class="my-2 font-weight-normal">Свяжитесь с нами</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <div class="d-grid gap">
                    <label for="name">Имя</label>
                    <input type="text" name="name" placeholder="Введите имя" /><br>
                </div>
                <div class="d-grid gap">
                    <label for="phone">Телефон</label>
                    <input type="text" name="phone" placeholder="+7(___) ___-__-__" /><br>
                </div>
                <div class="d-grid gap-2">
                    <label for="message">Сообщение</label>
                    <textarea name="message" placeholder="Сообщение" ></textarea><br>
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-primary" value="Отправить" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

